<div class="text-black px-4 min-h-screen">
  <div class="row">
    <div class="grid grid-cols-3">
      <div class="col-span-1  flex flex-col justify-center items-center text-justify gap-4">
        <p class="font-bold text-lg italic text-yellow-400">Welcome to TaskCraft – Where Creativity Meets Productivity! </p>
        <p class="text-justify px-1 font-semibold">
          Streamline your workflow, collaborate effortlessly, and transform your ideas into action. Elevate your task management with our intuitive platform designed to make teamwork a breeze. Organize, prioritize, and conquer tasks together, bringing your projects to life with TaskCraft – Your Ultimate Task Management Solution
        </p>
      </div>
      <div class="col-span-2 flex justify-center items-center">
        <img src="assets/home/cover.jpg" alt="">
      </div>
    </div>
  </div>
</div>