<div class="h-auto">
  <div class="row">
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <h1 class="text-center font-bold">Your WorkSpaces</h1>
        <div class="grid grid-cols-3 h-auto overflow-y-scroll" *ngIf="workspaces.length > 0">

          <div class="col-span-1" *ngFor="let workspace of workspaces">
            <div class="card m-1 border-2 px-2  flex flex-col gap-3 shadow-md">
              <p class="font-semibold">{{workspace.name}}</p>
              <p>{{workspace.dateCreated.slice(0,10)}}</p>
              <div class="button-div" *ngIf="auth.user$ | async as user">
                <button class="bg-green-300 px-3 rounded-md m-1" (click)="showWorkSpace(workspace.id)">View</button>
                <button class="bg-red-300 px-3 rounded-md m-1" (click)="deleteWorkSpace(workspace.id)" *ngIf="workspace.user == user.email">Delete</button>
              </div>
            </div>
          </div>
    
        </div>
      </div>
      <div class="col-span-1 border-2 shadow-md shadow-gray-500 h-auto">
        <div class="grid grid-cols-1">
          <div class="col-span-1 border-2 shadow-md shadow-gray-500">
            <app-profile></app-profile>
          </div>
        </div>
        <div class="grid grid-cols-1 border-2 mt-8">
          <div class="col-span-1 px-4">
            <h1 class="font-semibold text-center">Add a work space</h1>
            <app-create-workspace></app-create-workspace>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>